body{
	margin: 0;
	padding: 0;
	background-color: #1f2e00;
	overflow-x: hidden;
}
.container{
	width: 960px;

}
/* top blue border */
#mytopborder{
	background-color: #133d76;
	height:11px;
}
/* end of top blue border */



/* start of header */
#org-logo {
	height:	153px;
	width: 	151px;
	border-radius: 50%;
	float: left;
	position: relative;
	top: 50px;
	left: 15px;
}
#myheader{
	background-color: #1f2e00;
	height:	229px;
	padding:0;
}
#webtitle{
	color: 	#eac400;
	font-size:18px;
	text-decoration: none;
	position: relative;
	top: 35%;
  	text-align: right;
    float: right;
   	font-family: 'Crete Round';
   	font-size: 28px
}
#hdescription{
	color: 	white;
	font-size: 18px;
	line-height: 100%;
	padding:0;	
}
/* end of header */



/* navigation css */
#mynav{ 
	width: 100%;
	background-color: #1f2e00; 
	/*
	text-align: center; */
	font-family: Arial;
	position: relative !important; 
	z-index: 9999 !important;
	font-size:15px;
	border-bottom: 26px solid #1f2e00;
	padding: 0;
	margin:0;
}
/*
#mynav a#main{
	text-transform: uppercase;;
}
*/
#mynav ul{ 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}
#mynav ul li{ 
	display: inline-block; 
}
#mynav ul li >a#main{
	border-right: 5px solid #1f2e00;
	font-weight: bold;
}
#mynav ul li:hover{ 
	background-color: #eac400;
}
#mynav ul li a,visited{ 
	color:white; 
	padding: 5px 10px 5px 10px; 
	display: block; 
	text-decoration: none; 
}
#mynav ul li a:hover{ 
	color:#1f2e00; 
	padding: 5px 10px 5px 10px; 
	display: block; 
	text-decoration: none; 
}
#mynav ul li:hover > a#main{ 
	display: block; 
	color:#1f2e00;
}
#mynav ul li:hover > ul{ 
	display: block;
	width: 200px;
}
#mynav ul ul{ 
	position: absolute; 
	text-align: left; 
	display: none; 
	background-color: #eac400; 
}
#mynav ul ul li{ 
	display: block; 
}
#mynav ul ul li a,visited{
	color: black; 
	padding: 10px 10px 10px 10px; 
}
#mynav ul ul li a:hover{
	color: #133d76; 
	padding: 10px 10px 10px 10px; 
}
#mynav ul ul li:hover{ 
	background-color: white;
}
#mynav ul ul li:hover > a#sub{
	color: #133d76;
}
#mynav ul ul ul{ 
	min-width: 203px;
	background-color: #eac400; 
	margin: -42px 0 0 200px; 
}
#mynav ul ul ul a,visited{
	color:black;
}
.mydivider{
	border-top: solid 1px grey;
  clear: both;
  height: 1px;
  width: 100%;
}
/* end of navigation */



/* start of slider */
#elementborder{
	background-color: #66780a;
	height:12px;
}
#element{
	width: 100%;
	height: 170px;
	animation: fader 20s infinite;
	transition-delay: 1s;	
}
@keyframes fader{
	0%
	{
		background-image: url("../images/slide1.jpg");
		background-size: cover;
	}
	25%
	{
		background-image: url("../images/slide2.jpg");
		background-size: cover;
	}
	50%
	{
		background-image: url("../images/slide3.jpg");
		background-size: cover;
	}
	75%
	{
		background-image: url("../images/slide4.jpg");
		background-size: cover;
	}
	100%
	{
		background-image: url("../images/slide5.jpg");
		background-size: cover;
	}
}
/* end of slider */



/* content css */
#mycontent{
		background-color: white;
		padding:0;
		margin:0;
}
/* end of content */



/* start of footer */
#myfooter{
	height: 106px;
	background-color: #6b8e23;
	text-align: center;
	color: white;
	font-size: 13px;
	padding-top: 30px;
}
/* end of footer */

