body{
	margin: 0;
	padding: 0;
	background-color: #1f2e00;
	overflow-x: hidden;
}
.container{
	width: 960px;

}

/* top blue border */
#mytopborder{
	background-color: #133d76;
	height:11px;
}
/* end of top blue border */



/* start of header */
#org-logo {
	height:	153px;
	width: 	151px;
	border-radius: 50%;
	float: left;
	position: relative;
	top: 50px;
	left: 15px;
}
#myheader{
	background-color: #1f2e00;
	height:	229px;
	padding:0;
}
#webtitle{
	color: 	#eac400;
	font-size:18px;
	text-decoration: none;
	position: relative;
	top: 35%;
  	text-align: right;
    float: right;
   	font-family: 'Crete Round';
   	font-size: 28px
}
#hdescription{
	color: 	white;
	font-size: 18px;
	line-height: 100%;
	padding:0;	
}
/* end of header */



/* navigation css */
#mynav{ 
	width: 100%;
	background-color: #1f2e00; 
	/*
	text-align: center; */
	font-family: Arial;
	position: relative !important; 
	z-index: 9999 !important;
	font-size:15px;
	border-bottom: 26px solid #1f2e00;
	padding: 0;
	margin:0;
}
/*
#mynav a#main{
	text-transform: uppercase;;
}
*/
#mynav ul{ 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}
#mynav ul li{ 
	display: inline-block; 
}
#mynav ul li >a#main{
	border-right: 5px solid #1f2e00;
	font-weight: bold;
}
#mynav ul li:hover{ 
	background-color: #eac400;
}
#mynav ul li a,visited{ 
	color:white; 
	padding: 5px 10px 5px 10px; 
	display: block; 
	text-decoration: none; 
}
#mynav ul li a:hover{ 
	color:#1f2e00; 
	padding: 5px 10px 5px 10px; 
	display: block; 
	text-decoration: none; 
}
#mynav ul li:hover > a#main{ 
	display: block; 
	color:#1f2e00;
}
#mynav ul li:hover > ul{ 
	display: block;
	width: 200px;
}
#mynav ul ul{ 
	position: absolute; 
	text-align: left; 
	display: none; 
	background-color: #eac400; 
}
#mynav ul ul li{ 
	display: block; 
}
#mynav ul ul li a,visited{
	color: black; 
	padding: 10px 10px 10px 10px; 
}
#mynav ul ul li a:hover{
	color: #133d76; 
	padding: 10px 10px 10px 10px; 
}
#mynav ul ul li:hover{ 
	background-color: white;
}
#mynav ul ul li:hover > a#sub{
	color: #133d76;
}
#mynav ul ul ul{ 
	min-width: 203px;
	background-color: #eac400; 
	margin: -42px 0 0 200px; 
}
#mynav ul ul ul a,visited{
	color:black;
}
.mydivider{
	border-top: solid 1px grey;
  clear: both;
  height: 1px;
  width: 100%;
}
/* end of navigation */



/* start of slider */
#elementborder{
	background-color: #66780a;
	height:12px;
}
#element{
	width: 100%;
	height: 170px;
	animation: fader 20s infinite;
	transition-delay: 1s;	
}
@keyframes fader{
	0%
	{
		background-image: url("../images/slide1.jpg");
		background-size: cover;
	}
	25%
	{
		background-image: url("../images/slide2.jpg");
		background-size: cover;
	}
	50%
	{
		background-image: url("../images/slide3.jpg");
		background-size: cover;
	}
	75%
	{
		background-image: url("../images/slide4.jpg");
		background-size: cover;
	}
	100%
	{
		background-image: url("../images/slide5.jpg");
		background-size: cover;
	}
}
/* end of slider */



/* content css with different content versions
	depending on the page*/
#mycontent{
		background-color: white;
		padding:20px;
		margin:0px;
		font-size: 15px;			/* version 1*/
}
#mycontent hr{
	border: 3px solid #f8931d;
	position: relative;
}


#mycontent2{
		background-color: white;
		padding:20px;
		margin:0px;
		font-size: 13px
}
#mycontent2 hr{
	border: 3px solid #f8931d;		/*version 2 */
	position: relative;
}
#mycontent2 img{
	display: inline-block;
	height: 283px; 
	width: 240px; 
	margin-right: 10px;

}
#mycontent3{
		background-color: white;
		padding:20px;
		margin:0px;
		font-size: 13px
}
#mycontent3 hr{
	border: 3px solid #f8931d;  	/* version 3 */
	position: relative;
}
#mycontent3 img{
	display: inline-block;
	height: 239px; 
	width: 313px; 
	margin-right: 10px;

}
#mycontent4{
		background-color: white;
		padding:20px;
		margin:0px;
		font-size: 13px
}
#mycontent4 hr{
	border: 1px solid black;		/* version 4 */
	position: relative;
}
#mycontent4 img{
	display: inline-block;
	height: 153px; 
	width: 318px; 
	margin-right: 10px;

}
#mycontent5{
		background-color: white;
		padding:20px;
		margin:0px;
		font-size: 13px				/* version 5 */
}
#mycontent5 img{
	display: block;
	height: 176px; 
	width: 257px; 
	margin-right: 10px;
	

}
/* end of content */

/* start of footer */
#myfooter{
	height: 106px;
	background-color: #6b8e23;
	text-align: center;
	color: white;
	font-size: 13px;
	padding-top: 30px;
}
/* end of footer */



/* some extra css */
.socialfeed img{
	display: inline-block; /*css for social media icons*/
	height: 35px; 
	width: 35px;
}
/* css for featured news */
.featable img{				
	height:67px; 
	width:63px;
}
.afea td{
	border: 1px solid grey;
}							
/* end of featured news css */


/* bottom content of index */
#matsu img{
	display: inline-block;
	left: 30px;
	height: 281px;
	width: 191px;
	position: relative;
	margin-right: 25px;
}
/* end of bottom content */



/* css for sidebar navigation */
.myul{
	list-style: none;
	display: inline-block;
	padding-top: 0;
}
.myul li{
	display: inline-block;
	margin-right: 15px;
}
.myul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}
.myul li a:hover{
	color:orange;
}
#sideul li a{
	text-decoration: none;

}
/* end of sidebar navigation */
/* end of extra css */
